export AWS_ACCESS_KEY_ID=""
export AWS_SECRET_ACCESS_KEY=""
export AWS_REGION="eu-north-1"

# Optional: uncomment and set if using a named AWS profile
# export AWS_PROFILE=""

# Optional: defaults to ~/.ssh/infra-blueprint.pem
# export SSH_PRIVATE_KEY_PATH=~/.ssh/your-key.pem
